@using Sitecore.Resources.Media
@model Fortis.Model.IRenderingModel<Fortis.Model.IItemWrapper, Sitecore.Feature.Media.Models.Templates.IHasMediaImage>
@{
    const int ThumbnailWidth = 750;
    const int MaxWidth = 1200;
}
<div class="thumbnail mosaic mosaic-circle lightbox-item lightbox-image">
    <div class="mosaic-overlay mosaic-overlay-no-pointer">
        <span class="fa fa-search-plus icon-lg"></span>
    </div>
    <div class="mosaic-backdrop">
        <a href="@Model.RenderingItem.BackgroundImage.GenerateImageUrl(new MediaUrlOptions(MaxWidth, 0, false))" data-type="image" data-title="@Model.RenderingItem.MediaTitle.RawValue" data-footer="@Model.RenderingItem.MediaDescription.RawValue" data-toggle="lightbox" data-gallery="page">
            @Model.RenderingItem.MediaImage.Render(new { w = ThumbnailWidth, mw = MaxWidth, @class = "img-responsive" })
        </a>
    </div>
</div>
