@model Fortis.Model.IRenderingModel<Fortis.Model.IItemWrapper, Sitecore.Feature.Media.Models.Templates.IHasMediaVideo>
@{
    const int thumbnailWidth = 750;
}
<div class="thumbnail mosaic mosaic-circle lightbox-item lightbox-image">
    <div class="mosaic-overlay mosaic-overlay-no-pointer">
        <span class="fa fa-play-circle icon-lg"></span>
    </div>
    <div class="mosaic-backdrop">
        @Model.RenderingItem.MediaVideoLink.RenderBeginField(new { data_title = Model.RenderingItem.MediaTitle.RawValue, data_footer = Model.RenderingItem.MediaDescription.RawValue, data_toggle = "lightbox", data_gallery = "page", data_width = thumbnailWidth })
        @Model.RenderingItem.MediaThumbnail.Render(new { mw = thumbnailWidth, @class = "img-responsive" })
        @Model.RenderingItem.MediaVideoLink.RenderEndField()
    </div>
</div>